.card {
  width: 3.75rem;
  height: 3.75rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.card--disabled {
  color: #000;
}

.card--revealed {
  background: white;
  border-color: white;
}
